<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="{global.baseUrl}">

        <!-- Meta Tags -->
        <title>{head.title} | {global.companyName}</title>
        <meta name="description" content="{head.description}">

        <!-- Static Assets -->
        <link type="image/x-icon" rel="icon" href="favicon.ico">
        <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
        <link type="text/css" rel="stylesheet" href="public/app.css">
    </head>
    <body class="{body.class}">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <div class="header">
                <!-- Company Logo -->
                <a class="logo" href="/">
                    <img src="public/logo.png" alt="{global.companyName} Logo">
                </a>

                <!-- Navigation Menu -->
                <nav class="nav">
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a class="loggedOut" href="/account/create">Sign Up</a></li>
                        <li><a class="loggedOut" href="/session/create">Login</a></li>
                        <li><a class="loggedIn" href="/checks/all">Dashboard</a></li>
                        <li><a class="loggedIn" href="/account/edit">Account Settings</a></li>
                        <li><a class="loggedIn" href="/logout" id="logoutButton">Logout</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Page-Specific Content -->
            <div class="content">